
osm-data/.DS_Store
osm-data/germany-latest.osm.pbf
network_graphs_save/network_2015_100.graphml
network_graphs_save/network_2022_100.graphml
network_graphs_save/network_2021_100.graphml
network_graphs_save/network_2020_100.graphml
network_graphs_save/network_2019_100.graphml
network_graphs_save/network_2018_100.graphml
network_graphs_save/network_2017_100.graphml
network_graphs_save/network_2016_100.graphml
